/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn-e:hover{
    background-color: rgb(99, 178, 192);
    transition: 0,5s;
}
.btn-d:hover{
    background-color: rgb(133, 47, 47);
    transition: 0,5s;
}